
.CreateTaskCard_container{
    background-color: rgb(255, 255, 255);
    height: 380px;
     border-radius: 10px;
     width: 23%;
     padding: 20px;
 
 }
 .closed{
     display: none;
 }
 .CreateTaskCard_container h5{
     color: rgb(80, 80, 80);
 }
 
 .CreateTaskCard_wrapper{
     display: flex;
     flex-direction: column;
     gap: 10px;
 
 }
 .CreateTaskCard_wrapper h4{
     font-weight: 580;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
 }
 
 .createTaskCard-form{
     display: flex;
     flex-direction: column;
     gap: 10px;
 }
 .createTaskCard-form .input{
     display: flex;
     flex-direction: column;
     gap: 5px;
 
 }
 .createTaskCard-form .input input{
     padding: 8px;
     border-style: solid;
      border-radius: 5px;
     border-color: rgb(202, 201, 201);
 }
 .createTaskCard-form .input input:hover{
     border-color: rgb(153, 217, 247);
 }
 .createTaskCard-form .input input:focus{
     border-color: rgb(153, 217, 247);
 }
 .taskDate{
     display: flex;
     justify-content: space-between;
 }
 .taskStage{
     display: flex;
     justify-content: space-between;
     
     
 }
 .select-dropdown{
     width: 127px;
     padding: 8px;
     border-style: solid ;
     border-radius: 5px;
    border-color: rgb(202, 201, 201);
    border-width: 2px;
 
 }
 .select-dropdown option{
     padding: 5px;
 }
 .select-dropdown:hover{
     border-color: rgb(153, 217, 247);
 
 }
 
 .select-dropdown:focus{
     border-color: rgb(153, 217, 247);
 
 }
 .submitTask{
     margin-top: 8px;
     display: flex;
     flex-direction: row-reverse;
     gap: 35px;
 }
 .submitTask .cancel-Button{
     padding: 9px;
     background-color: rgb(250, 250, 250);
     border-radius: 4px;
     border: none;
     color: black;
 }
 .submitTask .sumitTask-Button{
     padding: 9px 24px 9px 24px;
     background-color: rgb(64, 134, 255);
     border-radius: 4px;
     border: none;
     color: rgb(255, 255, 255);
 
 }
 
 
 